@import url('https://fonts.googleapis.com/css?family=Nunito|Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
  background: #d5d5d5; 
  color: #FAFAFA;
  text-transform: uppercase;
}
